.button-fav {
    border: none;
    width: 45%;
    height: 80%;
    border-radius: 20%;
    background-image: linear-gradient(800deg, #f6d365 0%, #fda085 100%);
}

.button-fav img {
    width: 30px;
}

.buttons {
    width: 25%;
    display: flex;
    justify-content: space-between;
}