footer {
  display: flex;
  align-items: center;
  bottom: 2%;
  left: 2.5%;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  width: 95%;
  border-radius: 20px;
  height: 8%;
  background-color: #ffffff6b;
  backdrop-filter: blur(10px);
}
